#!/usr/bin/env bash
VSCODE_SETTINGS_FILE=".vscode/settings.json"
CURR_DIR=${PWD##*/}

# Activate the conda environment for current project
source ~/workspace/anaconda3/etc/profile.d/conda.sh
conda deactivate 
conda activate $CURR_DIR || conda create -y -n $CURR_DIR python=3.6 && conda activate $CURR_DIR

# Set conda env for VS code
if [[ $(jq '."python.pythonPath"' $VSCODE_SETTINGS_FILE) != $CONDA_PREFIX"/bin/python" ]]; then
export CURR_PYTHON_PATH=$CONDA_PREFIX"/bin/python" 
TMP_FILE=$(mktemp) && \
jq '."python.pythonPath"=env.CURR_PYTHON_PATH' $VSCODE_SETTINGS_FILE > "$TMP_FILE" && \
mv "$TMP_FILE" "$VSCODE_SETTINGS_FILE"
fi

